body {
  background-color: #000;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bannerContent {
  display: flex;
  height: 170vh;
}

.headline {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fullBanner {
  height: 200vh;
}

.gradient {
  position: absolute;
  inset: 0;
  background: linear-gradient(rgba(14, 62, 151, 0.5) 50%, black);
}

.gradientTop {
  position: inherit;
  inset: 0;
  background: linear-gradient(180deg, rgba(0,0,0,1) 10%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%);
}

.gradientBottom {
  position: inherit;
  inset: 0;
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
}

.intro, .globe {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

.headlineText {
  color: grey;
  font-size: 6em;
  background-color: #000;
}

.globe {
  background: url('https://i.ibb.co/4fWhYKw/globe.jpg');
  background-size: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-top: 5%;
  height: 150vh;
}

.goldenGate {
  background: url('https://i.ibb.co/ckKynFx/golden-gate.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 120vh;
  width: 100%;
}

.noOverflow {
  position: absolute;
  overflow: hidden;
  height: 150vh;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.content h2 {
  font-size: 5em;
}

.content p {
  font-size: 4em;
}

h1 {
  font-size: 9em;
  font-family: 'Montserrat';
  letter-spacing: 5px;

}

h3 {
  font-size: 67px;
}

.description {
  font-size: 6em;
}