body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100vh;
  width: 100%;
}

.rocks {
  background: url('./img/water-rocks.jpg');
  background-size: cover;
  background-position: center;
}

.river {
  background: url('./img/water-river.jpg');
  background-size: cover;
  background-position: center;
}

.sunset {
  background: url('./img/sunset.jpg');
  background-size: cover;
  background-position: center;
}

/* .content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100vh;
  width: 100%;
} */

.description {
  font-size: 6em;
}