body {
  background-color: #000;
  margin: 0;
  font-family: 'Bebas Neue', cursive;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

h1 {
  font-size: 9em;
  letter-spacing: 5px;
}
  
.bannerContent {
  display: flex;
  height: 170vh;
}

.headline {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headlineText {
  font-family: 'Koulen', cursive;
  color: #000;
  font-size: 6em;
  background-color: rgba(125,125,125,0.65);
  border-radius: 20px;
  padding: 15px;
}

.topTenText h1 {
  color: #000;
  font-size: 5em;
  background-color: rgba(125,125,125,0.65);
  border-radius: 20px;
  padding: 15px;
  width: 70vw;
}

.fullBanner {
  height: 200vh;
}

.gradient {
  position: absolute;
  inset: 0;
  background: linear-gradient(rgba(14, 62, 151, 0.5) 50%, black);
}

.gradientTop {
  position: inherit;
  inset: 0;
  background: linear-gradient(180deg, rgba(0,0,0,1) 10%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%);
}

.gradientBottom {
  position: inherit;
  inset: 0;
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
}

.intro, .globe {
  height: 120vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

.topTen {
  height: 150vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  padding-bottom: 40vh;
}

.globe {
  background: url('https://i.ibb.co/4fWhYKw/globe.jpg');
  background-size: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-top: 5%;
  height: 150vh;
}

.goldenGate {
  background: url('https://i.ibb.co/ckKynFx/golden-gate.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 200vh;
  width: 100%;
}

.bigBen {
  background: url('https://i.ibb.co/2dyh9Q4/big-ben.jpg');
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 200vh;
  width: 100%;
}

.tajMahal {
  background: url('https://i.ibb.co/Gk01T3g/taj-mahal.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 150vh;
  width: 100%;
}

.mountFuji {
  background: url('https://i.ibb.co/Nxh9mYX/mount-fuji.jpg');
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 200vh;
  width: 100%;
}

.operaHouse {
  background: url('https://i.ibb.co/BP098zh/sydney-opera-house.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 150vh;
  width: 100%;
}

.eiffelTower {
  background: url('https://i.ibb.co/L0hvkwY/eiffel-tower.jpg');
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 200vh;
  width: 100%;
}

.pyramids {
  background: url('https://i.ibb.co/F4F7PQM/pyramids.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 150vh;
  width: 100%;
}

.colosseum {
  background: url('https://i.ibb.co/wz3B3sV/colosseum.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 150vh;
  width: 100%;
}

.greatWall {
  background: url('https://i.ibb.co/zRcGzzM/great-wall.jpg');
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 200vh;
  width: 100%;
}

.statue {
  background: url('https://i.ibb.co/PxcNzJ5/statue-of-liberty.jpg');
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 200vh;
  width: 100%;
}

.noOverflow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 150vh;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  height: 130vh;
  align-items: center;
  justify-content: center;
}

.content h2 {
  font-family: 'Bebas Neue', cursive;
  font-size: 5em;
  margin: 0;
  padding: 0 15px;
  text-shadow: 2px 2px 4px #FFF;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.content p {
  font-family: 'Roboto', sans-serif;
  font-size: 4em;
  margin: 0;
  text-shadow: 2px 2px 4px #FFF;
}

.divider {
  height: 100vh;
  overflow: hidden;
}

.location {
  background-color: rgba(0,0,0,0.3);
  border-radius: 20px;
  padding: 0 15px 20px 15px;

}